### General ###
HELP.md
target/
build/
!.mvn/wrapper/maven-wrapper.jar

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs ###
*.log

### Spring Boot Configuration ###
src/main/resources/application.properties
src/main/resources/application.yml

### Exclude specific folder ###
**/src/main/java/com/sunny/sunnyfarm/entity/
